.header {
    display: flex;
    flex-flow: row;
    margin-left: 8%;

    nav {
        ul {
            display: flex;
            flex-direction: row;
            flex-flow: row;
            list-style-type: none;
            list-style: none;
            padding: 0;

            a {
                text-decoration: none;
                li {
                    text-align: center;
                    border: 0.2px solid #f4f4f4;
                    border-radius: 0.5rem;
                    padding: 14px;
                    font-weight: bold;
                    background-color: #eeeeee;
                    color: #000;

                    &:hover {
                        background-color: aqua;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
