<div class="info modify-p32">INFORMAÇÔES</div>
<section class="info__box" id="info">
    <div class="info__name d-flex__info modify-p32 ">
        <img src="/assets/iconSVG/iconPersonal.svg" alt="" class="info__icon" />
        Flávio Leonardo Machado de Pádua
    </div>
    <div class="info__date d-flex__info modify-p24 ">
        <img src="/assets/iconSVG/iconDate.svg" alt="" class="info__icon" />
        19/12/1999
    </div>
    <div class="info__adress d-flex__info modify-p24">
        <img src="/assets/iconSVG/iconHome.svg" alt="" class="info__icon" />
        Q 25 C 15 Setor Leste / Gama - Brasilía
    </div>
    <div class="info__email d-flex__info modify-p24">
        <img src="/assets/iconSVG/iconEmail.svg" alt="" class="info__icon" />
        flmp.leonardo@gmail.com
    </div>
    <a href="https://api.whatsapp.com/send?phone=5561984847214" class="info__email d-flex__info modify-p24">
        <img src="/assets/iconSVG/iconWhatsapp.svg" alt="" class="info__icon" />
        (61) 9 8484-7214
    </a>
</section>
