.info{
    
    &__box{
        margin: 8% 0 0 5%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 90%;
        height: 600px;
        background-color: white;
        border-radius: 20px;
        z-index: 2;
        box-shadow: 20px 20px 20px #e7e5e5;
    }

    &__icon{
        width: 30px;
        height: 30px;
        padding: 10px;
    }
}

// @media screen and (max-width: 1300px){
//     .information__box{
//         width: 100%;
//     }
// }