.info{
    
    &__box{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 180vh;
        height: 600px;
        background-color: white;
        border-radius: 20px;
        z-index: 2;
        box-shadow: 20px 20px 20px #e7e5e5;
    }

    &__icon{
        width: 24px;
        height: 24px;
        padding: 10px;
    }
}